# Expo
expo-env.d.ts
.expo/
dist/
web-build/

# 原生目录（prebuild 生成）
android/
ios/

# Node
node_modules/
npm-debug.*
yarn-debug.*
yarn-error.*

# 备份文件
*.bak
*.bak[0-9]*
*.bak[0-9]

# 环境变量
.env
.env.local

# macOS
.DS_Store
