node_modules/
dist/
build/
.expo/
.expo-shared/
.eslintcache
expo/expo-env.d.ts
expo-env.d.ts
.DS_Store
logs/
*.tsbuildinfo
node-compile-cache/
.codegraph/
.cozeproj/reduction
.preview

# 补：匹配 node_modules 文件（不带斜杠）
node_modules
**/node_modules
**/node_modules/
